<section class="side">
{{!-- <div class="side-wrapper">
    <div class="box">
    <h2>文章分类</h2>
    <%- list_categories({
        show_count: false
    }) %>
</div>
<div class="box">
    <h2>推荐标签</h2>
    <%- list_tags({
        show_count: false,
        amount: 12,
    }) %>
</div>
<div class="box">
    <h2>最新文章</h2>
    <%- list_latest_post({
        class: 'latest',
        order: -1
    }) %>
</div>
</div> --}}
</section>
