node_modules

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

*.log

.idea

.vscode

partials/custom/config.hbs
partials/custom/socials.hbs


