{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<section class="main">
	<div class="main-inner">
		<div class="content">
			<article class="widget tags">
				<header class="widget-header">
					<h2 class="widget-title">
						目前共计<span data-toggle="tagcount"></span>个标签
					</h2>
					<div class="hr-line"></div>
				</header>
				<section class="widget-body">
				{{#get "tags" limit="all" include="count.posts"}}
					<div id="TagCloud">
						{{#foreach tags}}
							<a data-posts-count="{{count.posts}}" href="/tag/{{slug}}">{{name}}({{count.posts}})</a>
						{{/foreach}}
					</div>
				{{/get}}
				</section>
			</article>
		</div>
	</div>
</section>
