{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<section class="main">
    <div class="main-inner">
        <div class="content">
            <article class="widget list">
                <header class="widget-header">
                    <h2 class="widget-title">
                        <a>{{tag.name}}<small>标签</small></a>
                    </h2>
                    <div class="hr-line"></div>
                </header>
                <section class="widget-body">
                    <ul class="post-list">
                        {{#foreach posts}}
                        <li>
                            <a href="{{url}}">
                                <span class="post-title">{{title}}</span>
                                <span class="post-date">{{date format="YYYY-MM-DD"}}</span>
                            </a>
                        </li>
                        {{/foreach}}
                    </ul>
                </section>
            </article>
        </div>
    </div>
</section>