<ul class="site-social">
    <!--github-->
    <li>
        <a href="https://github.com/用户名" target="_blank"><i class="fa fa-github"></i></a>
    </li>
    <!--weibo-->
    <li>
        <a href="http://weibo.com/用户名" target="_blank"><i class="fa fa-weibo"></i></a>
    </li>
    <!--twitter-->
    <li>
        <a href="https://twitter.com/用户名" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
        <a href="/rss" target="_blank"><i class="fa fa-rss"></i></a>
    </li>
</ul>