.btn{
	display: inline-block;
	padding: 5px 30px;
	
	text-decoration: none;
	color: $link-color;
	
	border:1px solid #00A9EC;
	
	&:hover{
		color: darken($link-color,5%);
		border-color: darken($link-color,5%);
	}
	
}