.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: $zindex-footer;
  width: 100%;
  background: #555;
}

.footer-inner {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;

  @media (min-width: $screen-lg-min) {
    width: 900px;
  }
}

.support {
  .powered-by,
  .theme-info {
    display: iniline-block;

    a {
      border-bottom: 1px dotted #e3e3e3;
    }
  }
}