header {
    .header-wrapper {
        &::before {
            content: ' ';
            display: block;
            height: 3px;
            width: 100%;
            background: #555;
        }
        height: 70px;
        margin-bottom: 40px;
        background: #fff;
    }
    .brand {
        margin-left: auto;
        margin-right: auto;
        width: 240px;
        height: 80px;
        text-align: center;
        background: #333;
        .logo {
            display: block;
            color: #fff;
            font-size: 24px;
        }
        .desc {
            display: block;
            color: #e8e8e8;
        }
    }
}