nav {
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    background: #333;
    text-align: center;
    z-index: 999;
    .nav {
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
            border-bottom: 2px solid transparent;
            padding-left: 15px;
            padding-right: 15px;
            line-height: 40px;
            &.current,&:hover {
                border-bottom: 2px solid $link-color;
            }
        }
    }
}