.pager{
	@include clearfix;
	text-align: center;
	margin: 30px 0;
	
	a{
		padding: 10px;
		text-decoration: none;
		color: $link-color;
		border:1px solid #e3e3e3;
		background: #fff;
		
		text-align: center;
		
		span{
			padding: 10px;
		}
	}
	
	.pager-prev-arrow{
		border-right: 1px solid #ddd;
	}
	
	.pager-next-arrow{
		border-left: 1px solid #ddd;
	}
}

.pager-prev{
	float: left;
}
.pager-current{
	display: inline-block;
}
.pager-next{
	float: right;
}