.post {
    blockquote {
        margin: 0;
        background: #f8f8f8;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 10px;
        position: relative;
        &::before {
            content: ' ';
            display: block;
            width: 2px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            background: #ccc;
        }
        p {
            margin: 0;
        }
    }
    img {
        max-width: 100%;
    }
    ul {
        list-style: disc inside;
    }
    code {
        font-size: 12px;
    }
    p {
        code {
            background: #fdf6e3;
            color: #657b83;
            padding: 2px 4px;
        }
    }
}

.post-tags {
    margin: 0 auto;
    text-align: center;
    > li {
        display: inline-block;
        padding: 5px 10px;
    }
    > li> a {
        border-bottom: 1px dotted transparent;
        &:before {
            content: '#';
        }
        &:hover {
            color: $link-hover-color;
            border-bottom: 1px dotted $link-hover-color;
        }
    }
}

.post-navigation {
    display: table;
    width: 100%;
    margin: 15px 0;
    font-size: 12px;
    background: #fff;
    a {
        padding: 10px;
        text-decoration: none;
        color: $link-color;
        text-align: center;
        span {
            padding: 10px;
        }
    }
    .post-prev,
    .post-next {
        display: table-cell;
        width: 50%;
        height: 40px;
        line-height: 40px;
    }
    .post-next {
        text-align: right;
        border-left: 1px solid #eee;
    }
}

.post-comment {
    padding: 30px;
    background: #fff;
    .ds-current {
        border-radius: 0;
    }
}