.body-inner {
  transition: padding-right 200ms;
}

.footer-inner {
  transition: padding-right 200ms;
}

.sidebar {
  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  z-index: $zindex-sidebar;

  width: 300px;

  text-align: center;
  background: $brand-primary;
  color: $sidebar-color;

  transition: right 200ms;
}

.sidebar-inner {
  padding: 30px;
}

.site-author {
  .site-author-avatar {
    display: block;
    margin: 0 auto;
    width: 86px;
    border: 10px solid $sidebar-color;
    padding: 1px;
    border-radius: 96px;
  }
  .site-author-name {
    color: $sidebar-color;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
  }
  .site-author-location {
    margin-bottom: 20px;
  }
  .site-author-bio {
    padding: 20px 0;
    border-top: 1px solid $sidebar-color;
    border-bottom: 1px solid $sidebar-color;
  }
}

.site-social {
  margin: 20px 0;
  padding: 0;
  > li {
    display: inline-block;
    > a {
      display: inline-block;
      height: 35px;
      width: 35px;
      line-height: 35px;
      text-align: center;
      text-decoration: none;

      border: 1px solid #fff;
      color: #fff;

      &:hover {
        background: #fff;
        color: $brand-primary;
      }
    }
  }
}

.fold {
  .body-inner {
    padding-right: 300px;
  }
  .footer-inner {
    padding-right: 300px;
  }
  .sidebar {
    right: 0;
  }
  .switch {
    .switch-fold {
      display: none;
    }
    .switch-unfold {
      display: inline;
    }
  }
}