.widget {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    .widget-header {
        position: relative;
        text-align: center;
        padding: 10px;
        &::before {
            content: ' ';
            display: block;
            position: absolute;
            width: 80px;
            height: 2px;
            left: 50%;
            top: 0;
            margin-left: -40px;
            background: #333;
        }
    }
    .widget-title {
        margin: 0;
        font-size: $font-size-xl;
        a {
            color: #333;
        }
    }
    .widget-footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}