@import "sections/header";
@import "sections/main";
@import "sections/widget";
@import "sections/pager";
@import "sections/button";
@import "sections/control";
@import "sections/sidebar";
@import "sections/footer";