body{
	font-family: $font-family-serif;
	font-size: 14px;
	color: $body-color;
	line-height:2;
	background: $body-bg;
}

a{
	cursor: pointer;
}

ul{
	list-style: none; 
	padding: 0; 
	margin: 0;
}