html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  font-family: $font-family-serif;
  font-size: 14px;
  color: $body-color;
  line-height: 2;
  background: $body-bg;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $link-color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  @media (min-width: $screen-lg-min) {
    width: $inner-width-wide;
    padding-left: 0;
    padding-right: 0;
  }
}