//==================================================================
// the site settting
//==================================================================

// Color
//
// Grayscale for this site
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary: #3B5998;
$sidebar-color:#839ccf;
// Body
//
// Setting for the '<body>' element
$body-bg:                    #f5f8f9;
$body-color:                 #373a3c !default;

// Link
//
// Setting for site link
$link-color:                 $gray-light;
$link-hover-color:           $gray-dark;

// Typography
//
$font-family-serif:Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif !default;
$font-family-sans:"Avenir Next", Avenir, Tahoma, Vendana, sans-serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:             14px !default;
$font-size-xl:               24px !default;
$font-size-lg:               18px !default;
$font-size-sm:               12px !default;
$font-size-sm:               10px !default;



$line-height-base:           1.8 !default;


// Z-index list
//
$zindex-footer:               999 !default;
$zindex-sidebar:             1000 !default;
$zindex-control:             1010 !default;


// Screen breakpoints
//
$screen-sm-min:              0;
$screen-sm-max:              768px;

$screen-md-min:              $screen-sm-max - 1;
$screen-md-max:              1190px;

$screen-lg-min:              $screen-md-max - 1;
$screen-lg-max:              9999;


// Main
$inner-width-wide:           960px;
