$brand-yellow: #FAC450;
$brand-blue: #00A0E9;
$brand-red: #E01515;
$brand-green: #60BE29;
$brand-dark: #333;

$gray-dark: #636363;
$gray: #68727d;
$gray-light: #828a92;
//= =================
// site
//= =================
$container-width: 1000px;
$container-width-sm: 740px;
$header-height: 60px;
$side-width: 280px;
//= =================
// code
//= =================
$code-font-family: 'consolas', 'Menlo', 'monospace';
$code-font-size :13px;
$code-border-radius :3px;