<section class="control">
	<div class="switch" data-toggle="sidebar">
		<span class="switch-fold"><i class="fa fa-bars"></i></span>
		<span class="switch-unfold"><i class="fa fa-close"></i></span>
	</div>
	<div class="totop" data-toggle="totop">
		<i class="fa fa-angle-up"></i>
	</div>
</section>