<footer class="footer">
	<div class="footer-inner">
		<div class="copyright">
			&copy;
			<span class="copy-year">2015</span>
			<span class="love-with">
			<i class="fa fa-heart-o"></i>
		</span>
			<span class="copy-author">Jaylin Wang</span>
		</div>
		<div class="support">
			<span class="powered-by">
			使用<a class="ext-link">Ghost</a>搭建
		</span>
			<span class="theme-info">
			主题-<a class="ext-link">Onepice</a>
		</span>
		</div>
	</div>
</footer>