<footer class="footer">
	<div class="footer-inner">
		<div class="copyright">
			&copy;
			<span class="copy-year">2013 - {{date format="YYYY"}}</span>
			<span class="love-with">
			<i class="fa fa-heart-o"></i>
		</span>
			<span class="copy-author">Jaylin Wang</span>
		</div>
		<div class="support">
			<span class="powered-by">
			使用<a href="https://ghost.org" class="ext-link" target="_blank">Ghost</a>搭建
		</span>
			<span class="theme-info">
			主题-<a  href="https://github.com/JaylinWang/onepice" class="ext-link" target="_blank">Onepice</a>
		</span>
		</div>
	</div>
</footer>