<footer class="footer">
	<div class="footer-inner">
		<div class="copyright">
			&copy;
			<span class="copy-year">{{date published_at format="YYYY"}}</span>
			&nbsp;
			<span class="copy-author">{{@blog.title}}</span>
		</div>
		<div class="support">
			<span class="powered-by">
			{{@blog.description}}
			</span>
		</div>
	</div>
</footer>