<footer class="footer">
	<div class="footer-inner">
		<div class="copyright">
			&copy;
			<span class="copy-year">2016</span>
			&nbsp;
			<span class="copy-author">smallhead.cn</span>
		</div>
		<div class="support">
			<span class="powered-by">
			{{@blog.description}}
			</span>
		</div>
	</div>
</footer>