{{!--header--}}
<header>
  <div class="header-wrapper">
    <div class="brand">
      <a class="logo" href="/">
        {{@blog.title}}
      </a>
      <span class="desc">
        {{@blog.description}}
      </span>
    </div>
    {{!--nav--}}
  </div>
</header>
