<header class="header">
    <div class="header-inner">
        <div class="site-meta">
            <div class="brand">
                <div class="brand-before-line"></div>
                <a href="/">{{@blog.title}}</a>
                <div class="brand-before-line"></div>
            </div>
        </div>
        <div class="site-nav-toggle">
            <button data-toggle="menu" data-target="#SiteMenu">
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
                <span class="btn-bar"></span>
            </button>
        </div>
        <div class="site-nav" id="SiteMenu">
            {{navigation}}
        </div>
    </div>
</header>