<section class="sidebar" id="Sidebar">
	<div class="sidebar-inner">
		<div class="site-author">
			<img class="site-author-avatar" data-toggle="userimage" src="">
			<div class="site-author-name" data-toggle="username">
				
			</div>
			<div class="site-author-location">
				<i class="fa fa-map-marker"></i> <span data-toggle="userlocation"></span>
			</div>
			<div class="site-author-bio" data-toggle="userbio">
				
			</div>
		</div>
		{{> custom/socials }}
	</div>
</section>