.message {
  .widget-header {
    text-align: center;

    .hr-line {
      &:after {
        background: $gray;
        content: "";
        height: 3px;
        margin: auto;

        position: absolute;
        left: 0;
        right: 0;
        top: -2px;
        width: 45px;
      }
    }
  }

  .widget-body {
    a {
      padding: 3px;
      margin-right: 15px;
      border-bottom: 1px solid $link-color;
    }
  }
}