.post{
	.widget-header{
		text-align: center;
		
		.hr-line{
			&:after{
				background: #c8c8c8 none repeat scroll 0 0;
				content: "";
				height: 3px;
				margin: auto;
				
				position: absolute;
				left: 0;
				right: 0;
				top: -2px;
				width: 45px;
			}
		}
	}
}
.post-navigation{
	display: table;
	width: 100%;
	margin: 30px 0;
	
	background: #fff;
	
	a{
		padding: 10px;
		text-decoration: none;
		color: $link-color;
		text-align: center;
		
		span{
			padding: 10px;
		}
	}
	
	.post-prev,
	.post-next{
		display: table-cell;
		width: 50%;
		height: 60px;
		line-height: 60px;
	}
	
	.post-next{
		text-align: right;
		border-left: 1px solid #e3e3e3;
	}
}